
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Confirmation<%= @order%></h1>
    <p>
      Your order has been completed successfully.
      <br>
    </p>

     <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>


  </div>
    <p>
      To shop for more at Jungle, just follow this link: <%= @url %>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>