
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Confirmation<%= @order.id %></h1>
    <p>
      Your order has been completed successfully.
      <br>
    </p>

     <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h4> Order Total:<%= humanized_money_with_symbol @order.total_cents/100 %></h4>
     <% @line_item.each do |i| %>
      <h3> <%= i.product.name %> </h3>
      <p> Quantity: <%= i.quantity %> </p>
      <hr>
    <% end %>


  </div>

    <p>Thank you and have a great day!</p>
  </body>
</html>